<server description="List Backend 2.0">
    <featureManager>
        <feature>jaxrs-2.1</feature>
        <feature>openapi-3.1</feature>
        <feature>jsonp-1.1</feature>
        <feature>cdi-2.0</feature>
        <feature>jpa-2.2</feature>
    </featureManager>

    <httpEndpoint httpPort="9080" httpsPort="9443"
                  id="defaultHttpEndpoint" host="*"/>

    <webApplication location="api.war" name="list-api" contextRoot="api"/>

    <dataSource id="list-db" jndiName="jdbc/list-db">
        <jdbcDriver java.sql.Driver="org.postgresql.Driver">
            <library name="pjbdc">
                <fileset dir="/usr/shared/resources/jdbc" includes="postgresql-42.2.19.jar"/>
            </library>
        </jdbcDriver>
        <properties serverName="list-database"
                    portNumber="5432"
                    databaseName="list"
                    user="list"
                    password="eq7uC37qkQASSLcc"
        />
    </dataSource>

    <dataSource id="list-db-jpan" jndiName="jdbc/list-db-JPANJTA" transactional="false">
        <jdbcDriver java.sql.Driver="org.postgresql.Driver">
            <library name="pjbdc">
                <fileset dir="/usr/shared/resources/jdbc" includes="postgresql-42.2.19.jar"/>
            </library>
        </jdbcDriver>
        <properties serverName="list-database"
                    portNumber="5432"
                    databaseName="list"
                    user="list"
                    password="eq7uC37qkQASSLcc"
        />
    </dataSource>
</server>
